@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$code-color: #55595c;

@import "./node_modules/bootstrap/scss/bootstrap";

.table-flush tr td:first-child {
  padding-left: 0;
}

pre {
  padding: 1rem !important;
}
